body {
    background-color : #d7a163;
    color: rgb(197, 78, 31);
    font: Arial;
    font-family: sans-serif;
}

h1, h2, h3 {
    font: Arial;
    text-align: center;
}

.divider {
    border-bottom: 5px solid gray;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

a {
    color: magenta;
}

img {
    max-width: 500px;
    max-height: 500px;
    text-align: center;
}