body {
    background-color : #d7a163;
    color: rgb(197, 78, 31);
    font: Arial;
    font-family: sans-serif;
}

h1, h2, h3 {
    font: Arial;
    text-align: center;
}

.divider {
    border-bottom: 5px solid gray;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

a {
    color: #6399d7;
    text-decoration: none;
}

img {
    max-width: 300px;
    max-height: 300px;
}

figure {
    text-align: center;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.total {
    text-align: right;
}

tr:nth-child(odd){
    background-color: rgb(68, 53, 13);
}

th, td {
    padding: 5px;
}

label {
    display: block;
    margin: 0.5rem 0;
}

form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
}

fieldset {
    border: none;
    padding: 2rem 0;
    border-bottom: 2px solid gray;
}

fieldset:last-of-type {
    border-bottom: none;
}

input[type="submit"] {
    display: block;
    margin: 1em auto;
    height: 2em;
    min-width: 300px;
    background-color: rgb(68, 53, 13);
    color:#d7a163;
}

input[type="reset"] {
    display: block;
    margin: 1em auto;
    height: 2em;
    min-width: 300px;
    background-color: rgb(68, 53, 13);
    color:#d7a163;
}

a:active {
    color: gray;
}