body {
    background-color : #d7a163;
    color: #3E5C76;
    font: Arial;
    font-family: sans-serif;
}

h1, h2, h3 {
    font: Arial;
    text-align: center;
}

hr {
    border: 3px solid gray;
}

nav {
    text-align: center;
}

a {
    color: #1D2D44;
    text-decoration: none;
}

img {
    max-width: 300px;
    max-height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    display: block;
}

figure {
    text-align: center;
}

figcaption {
    text-align: center;
    font-style: italic;
}

.validator {
    display: inline;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.total {
    text-align: right;
}

tr:nth-child(odd){
    background-color: rgb(68, 53, 13);
}

th, td {
    padding: 5px;
}

label {
    display: block;
    margin: 0.5rem 0;
}

form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
}

fieldset {
    border: none;
    padding: 2rem 0;
    border-bottom: 2px solid gray;
}

fieldset:last-of-type {
    border-bottom: none;
}

input[type="submit"] {
    display: block;
    margin: 1em auto;
    height: 2em;
    min-width: 300px;
    background-color: rgb(68, 53, 13);
    color:#d7a163;
}

input[type="reset"] {
    display: block;
    margin: 1em auto;
    height: 2em;
    min-width: 300px;
    background-color: rgb(68, 53, 13);
    color:#d7a163;
}

a:active {
    color: gray;
}

.functionDivider {
    max-width: 300px;
}

.button-holder {
    border: 1px solid black;
    margin: auto;
    height: 300px;
    width: 150px;
}

.button-holder input[type="button"] {
    background-color: gray;
}



/*Small devices (landscape phones, 576 pixels and up) */
@media (min-width: 576px)
{   
    form {
        width: 60vw;
        max-width: 500px;
        min-width: 300px;
        margin: 0 auto;
        padding-bottom: 2em;
    }

    label {
        display: block;
        margin: 0.5rem 0;
    }

    label {
        display: block;
        margin: 0.5rem 0;
    }

    img {
        max-width: 300px;
        max-height: 300px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 25px;
        margin-bottom: 25px;
        display: block;
    }

    input[type="submit"] {
        display: block;
        margin: 1em auto;
        height: 2em;
        min-width: 300px;
        background-color: rgb(68, 53, 13);
        color:#d7a163;
    }

    input[type="reset"] {
        display: block;
        margin: 1em auto;
        height: 2em;
        min-width: 300px;
        background-color: rgb(68, 53, 13);
        color:#d7a163;
    }
}
