body {
    background-color: #143A26;
    margin-left: 100px;
    margin-right: 100px;
    font-family:"Hind", monospace;
    color: #d8f9ea;
}

hr {
    border: 2px solid #231942;
}

h1, h2 {
    font-family: "Nunito Sans 800";
}

nav, h1, h2 {
    text-align: center;
}

nav {
    border: 2px solid #E7C8DD;
    border-radius: 5px;
    width: 550px;
    text-align: center;
    margin: 0 auto;
}

div.code-block {
    border: 5px solid #231942;
}

div.note {
    border: 5px solid #231942;
    
}

div.output {
    border: 5px solid #231942;
}

table, tr, th, td {
    border: 5px solid #231942;
    border-collapse: collapse;
}

a {
    text-decoration: none;
    color: #E7C8DD;
}

div.code-clock, div.note, div.output {
    box-sizing: border-box;
}

div.code-block, div.output {
    border-radius: 10px;
}
