<footer id = "footer">
    <h4 style = "text-align: center;"><a href = "https://webpages.charlotte.edu/amccomas/">CLT Home</a> &Iota; 
        <a href = "https://github.com/amcoma0/amcoma0.github.io">Github</a> &Iota;
        <a href = "https://amcoma0.github.io/">Github.io</a> &Iota;
        <a href ="https://www.freecodecamp.org/amccomas">FreeCodeCamp</a> &Iota; 
        <a href = "https://www.codecademy.com/profiles/amccomas4">CodeAcademy</a> &Iota;
        <a href = "https://www.linkedin.com/in/alex-mccomas/">LinkedIn</a></h4>
    <h2 style = "text-align: center;">Bullt by <a href = "mccomasenterprises.com/index.html">McComas Enterprises</a> &copy;</h2>
    <h4 style = "text-align: center;">
        <a id = "validation_html" href="https://validator.w3.org/check?uri=referer">
            <img style="border:0;width:88px;height:31px" src="https://upload.wikimedia.org/wikipedia/commons/b/bb/W3C_HTML5_certified.png" alt="Valid HTML!"> </a>
        <a id = "validation_css" href="https://jigsaw.w3.org/css-validator/check/referer">
            <img style="border:0;width:88px;height:31px" src="https://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS!">
             </a>
    </h4>
    <script>
        document.getElementById("validation_html").setAttribute("href", "https://validator.w3.org/check?uri=" + location.href);
        document.getElementById("validation_css").setAttribute("href", "https://jigsaw.w3.org/css-validator/validator?uri=" + location.href);
    </script>
</footer>