<header>
    <h1>Alex McComas's Admirable Manatee &mdash; ITIS 3135</h1>
    <h2><a href = "./index.html">Home</a> &mdash; <a href = "./introduction.html">Introduction</a> &mdash;<a href = "./contract.html">Contract</a> &mdash; <a href = "https://webpages.charlotte.edu/amccomas/">UNCC Home</a> &mdash; <a href = "./tables.html">Tables</a> &mdash; <a href = "./forms.html">Form</a></h2>
    <h2><a href = "stuff/The Best$Clubs.html">CRAPPY Webpage</a> &mdash; <a href = "mccomasenterprises.com/index.html">McComasEnterprises</a></h2>
    <div class = "divider"></div>

</header>