<header>
    <h1>Alex McComas's Admirable Manatee &mdash; ITIS 3135</h1>
    <nav><a href = "index.html">Home</a> &mdash; 
        <a href = "introduction.html">Introduction</a> &mdash;
        <a href = "contract.html">Contract</a> &mdash;
        <a href = "tables.html">Tables</a> &mdash;
        <a href = "forms.html">Form</a> &mdash;
        <a href = "firstscripts.html">First Scripts</a> &mdash;
        <a href = "website_evaluations.html">Web Evaluations</a> &mdash;
        <a href = "byo-intro.html">BYO Intro</a> &mdash;
        <a href = "project_1.html">Project 1</a> &mdash;
        <a href = "calculator_try.html">Calculator Try</a> &mdash;
        <a href = "calculator_fcc.html">Calculator FCC</a> &mdash;
        <a href = "arrays.html">Arrays</a> &mdash;
        <a href = "fizzbuzz.html">FizzBuzzBang</a>
    </nav>
    <nav><a href = "stuff/The Best$Clubs.html">CRAPPY</a> &mdash; <a href = "hobby/index.html">Hobby</a></nav>
    <hr>
</header>